<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatisplus.dao.mapper.WordTaskMapper">
   
  <resultMap id="BaseResultMap" type="com.mybatisplus.dao.domain.WordTask">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="task_time" jdbcType="TIMESTAMP" property="taskTime" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <select id="selectWordTask" resultType="com.mybatisplus.dao.domain.WordTask" resultMap="BaseResultMap">
  		SELECT * FROM word_task  WHERE STATUS = 0 and CURRENT_TIMESTAMP()>task_time limit 1
  </select>
  
  
</mapper>